body {
    background-color: blue;
}


.task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
}

main {
    display: flex;
    /* This is a comment in CSS */
    background-color: aliceblue;
    justify-content: center;

}

.header,
.footer {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.todo-app {
    display: flex;
    border: 5px solid yellow;
    flex-direction: column;
    width: 400px;
    align-items: center;

}

.btn {
    cursor: pointer;
    width: 100px;
    color: var(--dark-grey);
    color: var(--dark-grey);
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-color: var(--golden-yellow);
    border-width: 3px;
    text-align: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
    display: block;
}

#tasks-container {
    height: 100%;
    overflow-y: auto;
  }

.hidden {
    display: none;
}

