:root {
    --white: #fff;
    --light-grey: #f5f6f7;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
  }


  body {
    background-color: var(--dark-grey);
  }




*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    color: black;
    margin: 20px 0 40px 0;
  }


.task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header,
.footer {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.todo-app {
    display: flex;
    border: 5px solid yellow;
    background-color: white;
    flex-direction: column;
    width: 400px;
    align-items: center;

}

.btn {
    cursor: pointer;
    width: 100px;
    margin: 10px;
    color: var(--dark-grey);
    background-color: var(--golden-yellow);
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-color: var(--golden-yellow);
    border-width: 3px;
    text-align: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
    display: block;
}

#tasks-container {
    height: 100%;
    overflow-y: auto;
  }

.hidden {
    display: none;
}

